VITE_SUPABASE_URL=https://ptnwehegofgxnlsyhntf.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vTtPSB9cuTHri4HisCrNkQ_ffGTJ6g-
VITE_VAPID_PUBLIC_KEY=BGuHCtzwcwOsdGKL_wQoq12wV1qjZ3qjWgfI3KRmnvLQMfHj9ct5hVOX3_N9XiGNd_d7NKD5K4gJoiZrCsFFb_M